DATABASE_URL="postgresql://user:password@host:5432/pamoja?sslmode=require"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
STRAVA_CLIENT_ID=""
STRAVA_CLIENT_SECRET=""
STRAVA_WEBHOOK_VERIFY_TOKEN=""
